@font-face {
    font-family: 'Gotham-Book';
    src: url('../assets/fonts/Gotham-Book.eot');
    src: local('Gotham Book'), local('Gotham-Book'), url('../assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gotham-Book.woff2') format('woff2'), url('../assets/fonts/Gotham-Book.woff') format('woff'), url('../assets/fonts/Gotham-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../assets/fonts/Gotham-Medium.eot');
    src: local('Gotham Medium'), local('Gotham-Medium'), url('../assets/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gotham-Medium.woff2') format('woff2'), url('../assets/fonts/Gotham-Medium.woff') format('woff'), url('../assets/fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../assets/fonts/Gotham-Bold.otf');
    src: local('Gotham Bold'), local('Gotham-Bold'), url('../assets/fonts/Gotham-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}